<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="/static/css/styles.css" rel="stylesheet" />
    <script src="/static/js/all.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static',filename='js/sweetalert2@11.js')}}"></script>
    <script src="/static/js/sweetalert2@11.js"></script>
    <script src="/static/js/test.js"></script>
</head>

<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white py-3">
            <div class="container px-5">
                <a class="navbar-brand" href="/index"><span class="fw-bolder text-primary">Start Bootstrap</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                        <li class="nav-item"><a class="nav-link" href="/home">首頁</a></li>
                        <li class="nav-item"><a class="nav-link" href="add.html">貼文</a></li>
                        <li class="nav-item"><a class="nav-link" href="quotation.html">...</a></li>
                        <li class="nav-item"><a class="nav-link" href="/logout">登出</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="py-5">
            <div class="container px-5 pb-5">
                <div class="row gx-5 align-items-center">
                    {% block main %}
                    {% endblock main %}
                </div>
            </div>
        </header>
        {% block modal %}
        {% endblock modal %}
        <!-- Footer-->
        <footer class="bg-white py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto">
                        <div class="small m-0">Copyright &copy; Your Website 2023</div>
                    </div>
                    <div class="col-auto">
                        <a class="small" href="#!">Privacy</a>
                        <span class="mx-1">&middot;</span>
                        <a class="small" href="#!">Terms</a>
                        <span class="mx-1">&middot;</span>
                        <a class="small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
        <style></style>
        <!-- Bootstrap core JS-->
        <script src="{{url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>
        <!-- Core theme JS-->
        <script src="{{url_for('static',filename='js/scripts.js')}}"></script>
</body>

</html>